.breadcrumb {
    background: none;
    border: none;
    justify-content: center;
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 0;
    padding-bottom: 0;

    a {
        &:hover {
            color: $light;
        }
    }
}

.breadcrumb-container {
    margin-bottom: 10px;

    .breadcrumb {
        margin-top: 0;
        padding-left: 0;
        padding-top: 0;

        a {
            &:hover {
                color: $brand;
            }
        }
    }
}