.icon-check {
    width: 15px;
    height: 15px;
    background: url(../images/icons/check.png);
    background-size: 15px;
    background-position: center;
    display: inline-block;
}

.icon-gift {
    width: 15px;
    height: 15px;
    background: url(../images/icons/gift.png);
    background-size: 15px;
    background-position: center;
    display: inline-block;
}